.cta{
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5rem;
    background: linear-gradient(144.39deg, #FFFFFF -278.56%, #6D6D6D -78.47%, #11101D 91.61%);
    backdrop-filter: blur(10px);
    border-radius: 20px;
}
.cta_text{
    margin: 3rem;
    padding: 2rem;
}
.cta_text>h1{
    color: #fff;
    font-size: 48px;
    font-weight: 600;
    line-height: 140%;
}
.cta_text>p{
    color: white;
    opacity: 0.7;
}
.cta_button{
    margin-right: 5rem;
}
.cta_button>button{
    width: 170px;
    height: 70px;
    border: none;
background: linear-gradient(157.81deg, #DEF9FA -43.27%, #BEF3F5 -21.24%, #9DEDF0 12.19%, #7DE7EB 29.82%, #5CE1E6 51.94%, #33BBCF 90.29%);
border-radius: 10px;
color: #fff;
font-size: 18px;
font-weight: 300;
letter-spacing: 0.02rem;
}
