.bsection{
    background-color: blueviolet;
    margin: 2rem;
}
.bsection_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bsection_content-right{
    margin: 1.5rem;
}
.rewards{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}