
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:  #00040F;
    position:sticky;
    color: whitesmoke;
    margin: 1rem;
}
.navbar_logo>img{
    width:6rem;
    height: 2rem;
    margin-left: 2rem;
}
.navbar_list>ul{ 
    display: flex;
    justify-content: flex-end;
    align-items: center; 
    flex: 1;   
    list-style: none;
    margin-right: 2rem;
}
.navbar_list>ul>li{
    cursor: pointer;
    margin-right: 10px;
    padding: 2px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}
 .navbar_hidden{ 
    display: none;
}

@media screen and (max-width: 700px) {
    .navbar_list {
        display: none;
    }
    .navbar_logo>img{
    width:  140px;
    height: 140px;
    }
}