.bsection{
    margin: 2rem;
}
.bsection_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.bsection_content-left{
    margin-left: 3rem;
    margin-top: -3rem;
}
.bsection_content-left >h2{
    font-weight: 600;
    font-size: 48px;
    line-height: 160%;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}
.bsection_content-left>p{
    font-weight: 400;
    font-size: 18px;
    line-height: 170%;
    letter-spacing: 0.01em;
    color: rgba(255, 255, 255, 0.7);

}
.left-button>button{
    width: 170px;
    height: 64px;
    background: linear-gradient(157.81deg, #DEF9FA -43.27%, #BEF3F5 -21.24%, #9DEDF0 12.19%, #7DE7EB 29.82%, #5CE1E6 51.94%, #33BBCF 90.29%);
    border-radius: 10px;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
}
.bsection_content-right{
    margin-right: 3rem;
    margin-top: 2rem;
}
.rewards{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 2rem;
    background: linear-gradient(153.47deg, rgba(255, 255, 255, 0) -341.94%, #14101D 95.11%);
    box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
    border-radius: 20px;
}
.rewards_heading{
    display: flex;
    align-items: flex-start;
    align-items: center;
    padding-left: 1rem;
    height: 50px;
    width: 100%;
}
.rewards_heading>h5{
    color: #FFFFFF;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 130%;
    margin-left: 5px;
}
.rewards_icon{
    color: #00F6FF;
    
}
#transfer{
    rotate: 310deg;
}
.reward_text{
    height: 90px;
    margin-top: -20px;
}
.reward_text>p{
    text-align: center;
    padding: 1rem;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.7);


}
@media screen and (max-width:1024px) {
    .bsection_content{
       flex-direction: column;
       align-items: center;
    }
}
@media screen and (max-width:660px){
    .bsection_content-left>h2{
        font-size: 35px;
        line-height: 120%;
    }
    .bsection_content-left>p{
        font-size: 16px;
        line-height: 140%;
    }
    .left-button>button{
        width: 140px;
        height: 50px;
        font-size: 15px;
    }
    .bsection_content-right{
        margin-left: 4rem;
        margin-top: -10px;
    }
}