.Stats{
    margin: 2rem;
}
.Stats_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Stats_content-state{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Stats_content-state>h2{
    font-style: normal;
    font-weight: 600;
    font-size: 40.8925px;
    line-height: 130%;
    color: white;
    
}
.Stats_content-state>h4{
   margin: 1rem;
    text-transform: uppercase;
    background: radial-gradient(64.18% 64.18% at 71.16% 35.69%, #DEF9FA 0.89%, #BEF3F5 17.23%, #9DEDF0 42.04%, #7DE7EB 55.12%, #5CE1E6 71.54%, #33BBCF 100%) ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
@media screen and(max-width:990px) {
    .Stats_content{
    display:grid;
  justify-content: space-around;
    }
}